body {

		margin: 0 auto;
		max-width: 50em;
		font-family: "Helvetica", "Arial", "Sans-Serif";
		line-height: 1.5;
		padding: 4em 1em;
	}

h2 {
		margin-top: 1em;
		padding-top: 1em;
	}

h1,h2 {
	color: black;
	}

a {color: black;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.header_halo {
	color:white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.img_bulad {border-radius: 50%;
}

header {
	display: block;
	background-image: url("header_s.jpg");
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 10vw 2em;
	text-align: center;
	}

